header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%
}

.text-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-colour{
  color: rgb(45, 6, 117);
}

.blog-colour{
  color: rgb(65, 36, 170);
}

.blog-colour:hover{
  color: rgb(118, 103, 173);
  text-decoration: none;
}

.centering{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#signUpForm{
  display: none;
}

.project-list{
  margin-top: 30px;
}

.comments{
  /* width: 60%; */
  border-style: outset;
}

.margin{
  margin-right: 100px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgb(45, 6, 117);
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
